<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="invalidOffLineKey">
          <set>
            <option value="MuhZSAJh3Jur3J+y8zg0SIT46eIXvnM9/D/vjjU96uKHdDO3lcm9M2zaFhC1C5BuTjpLntx1d8SbKUhvhHZabQS7M0i4CevGgzI8IEH+YViLD5IlFHwrcbZ1qT9o9/sH5HIDF+kKDXxegWojP/i/Q3yX+0VG+S208IkWNdbrKd0=" />
          </set>
        </option>
        <option name="theUsageCount" value="1664867649682" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>